nav {
  background: #e8f0f2;
  position: fixed;
  width: 100%;
  top: 0;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 200%;
}

.nav-link {
  background: #053742;
  width: 100%;
  margin: 5px;
  margin-bottom: 0;
  text-decoration: none;
  color: white;
  padding: 8px;
  transition: background-color 1s;
}

.active,
.nav-link:hover {
  background: #39a2db;
}
