nav {
  background: #a2dbfa;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 200%;
}

.nav-link {
  width: 100%;
  text-decoration: none;
  color: black;
}

li:hover {
  background: rgb(187, 178, 178);
}
