h2 {
  width: 250px;
  font-size: 150%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  min-width: 300px;
  padding: 1%;
  background: #a2dbfa;
  margin: 0 5px 20px;
}

img {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.item-input {
  padding-left: 5px;
  font-size: 150%;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  background: white;
}

.item-btn {
  font-size: 150%;
  height: 40px;
  width: 200px;
  background: white;
  cursor: pointer;
  transition: transform 0.2s;
}

.item-btn:hover {
  transform: scale(1.02);
}
