#shop-cart {
  position: fixed;
  margin: 10px auto;
  top: 60px;
  background: #053742;
  color: white;
  font-size: 150%;
  padding: 10px 50px;
}

#cart-btn {
  cursor: pointer;
  height: 30px;
  margin: 5px;
  padding: 3px;
  font-size: 80%;
  background: white;
  transition: transform 0.2s;
}

#cart-btn:hover {
  transform: scale(1.02);
}
